@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E9E9E9;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #000000;
    display: flex;
}

/* This is all the buttons for the side panel */

.side-panel {
    background-color: #FFFFFF;
    width: 272px;
    height: 635px;
    display: flex;
    align-items: flex-start;
    border-radius: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
}

/* This is all the necessary components for the home button */

#home-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 216px;
    height: 46px;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    flex-direction: row;
}

#home-button.active {
    background: linear-gradient(to bottom right, #9747FF, #0500FF);
    color: white;
}

#home-button {
    color: black;
}

#home-icon {
    fill: currentColor;
    padding: 5px 10px 0px 10px;
}

#home-title {
    padding-top: 12px;
    font-weight: 900;
}

/* This is all the necessary components for the about button */

#about-button {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    width: 216px;
    height: 46px;
    border-radius: 10px;
    position: absolute;
    top: 90px;
    left: 25px;
    display: flex;
    flex-direction: row;
}

#about-button.active {
    background: linear-gradient(to bottom right, #9747FF, #0500FF);
    color: white;
}

#about-icon {
    fill: currentColor;
    padding: 8px 15px 0px 12px;
}

#about-title {
    padding-top: 12px;
    font-weight: 900;
}

/* This is all the necessary components for the login button */

#login-button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width: 216px;
    height: 46px;
    border-radius: 10px;
    position: absolute;
    top: 500px;
    left: 25px;
    display: flex;
    flex-direction: row;
}

#login-title {
    padding-top: 12px;
    padding-left: 35px;
    font-weight: 900;
}

/* This is all the necessary components for the help center button */

#help-button {
    background-color: transparent;
    color: black;
    border: dashed;
    cursor: pointer;
    width: 216px;
    height: 46px;
    border-radius: 10px;
    position: absolute;
    top: 565px;
    left: 25px;
    display: flex;
    flex-direction: row;
}

#help-icon {
    fill: black;
    padding: 12px 15px 0px 35px;
}

#help-title {
    padding-top: 10px;
    font-weight: 900;
}

#help-button.active {
  border: none;
  background: linear-gradient(to bottom right, #9747FF, #0500FF);
  color: white;
}

#help-button.active #help-icon {
  fill: white;
}

#home-button:hover,
#about-button:hover,
#help-button:hover {
    background: linear-gradient(to bottom right, rgba(151, 71, 255, 0.3), rgba(5, 0, 255, 0.3));
}

/* Now this is the content for the main panel */

.main-panel {
    background-color: #FFFFFF;
    width: 1090px;
    height: 635px;
    border-radius: 20px;
    position: absolute;
    top: 25px;
    left: 322px;
}

/* Here is all the content associated with the "Home" page/button */

#home-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#home-h1 {
    font-size: 35px;
    font-weight: 900;
    position: absolute;
    top: 20px;
}

#moveLeftAppetizer, #moveRightAppetizer, #moveLeftMain, #moveRightMain, #moveLeftDessert, #moveRightDessert {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  color: #a291f4;
  font-size: 20px;
  border: none;
  cursor: pointer;
  position: relative;
}

#moveLeftAppetizer {
  top: 235px;
  left: 357px;
  z-index: 2;
}

#moveRightAppetizer {
  top: 235px;
  left: 1267px;
  z-index: 2;
}

#moveLeftMain {
  top: 404px;
  left: 257px;
  z-index: 2;
}

#moveRightMain {
  top: 404px;
  left: 1167px;
  z-index: 2;
}

#moveLeftDessert {
  top: 567px;
  left: 157px;
  z-index: 2;
}

#moveRightDessert {
  top: 567px;
  left: 1067px;
  z-index: 2;
}

#moveLeftAppetizer::before, #moveRightAppetizer::before, #moveLeftMain::before, #moveRightMain::before, #moveLeftDessert::before, #moveRightDessert::before {
  content: '<';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

#moveRightAppetizer::before, #moveRightMain::before, #moveRightDessert::before {
  content: '>';
}

.search-container {
    position: relative;
    margin-top: 80px;
    margin-right: 240px;
  }
  
  .search-bar {
    font-family: 'Inter';
    padding: 10px;
    border: 2px solid #9747FF; 
    border-radius: 20px;
    font-size: 16px;
    width: 650px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #a291f4;
    cursor: pointer;
    font-size: 18px;
  }

  .dropdown-container {
    position: absolute;
    top: 50%;
    right: -250px;
    transform: translateY(-50%);
  }
  
  .diet-dropdown {
    font-family: 'Inter';
    padding: 8px;
    border: 2px solid #9747FF;
    border-radius: 20px;
    font-size: 16px;
    height: 47px;
    color: #9747FF;
  }
  
  .diet-dropdown::after {
    content: '\25BC'; 
    margin-left: 8px; 
  }

  .card {
    min-width: 190px;
    min-height: 126px;
    margin-right: 46px;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 10px; 
}
  
  .image-container {
    height: 90px;
    overflow: hidden;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .details-container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
  }
  
  .author {
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 10px;
}

  .title {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-left: -8px;
}
  
.rating {
    color: #f1c40f; 
    position: absolute;
    top: 0;
    right: 0;
}

#cards-container {
  margin: 0 auto; 
  margin-top: -7px;
}

  .category-container {
    display: flex;
    margin-left: -10px;
    margin-top: 40px; 
    overflow-x: scroll;
    overflow: hidden;
    width: 908px;
  }

  #Appetizers {
    position: absolute;
    top: 124px;
    left: 30px;
}

#MainDishes {
    position: absolute;
    top: 293px;
    left: 30px;
}
  
#Desserts {
    position: absolute;
    top: 469px;
    left: 30px;
}

/* Here is all the content associated with the "About Us" page/button */

#about-content {
    display: flex;
    flex-direction: column;
}

#about-center-align {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#about-h1 {
    font-size: 35px;
    font-weight: 900;
    position: absolute;
    top: 20px;
}

#about-h2 {
    font-size: 18px;
    font-weight: 200;
    width: 800px;
    position: absolute;
    top: 80px;
    text-align: center;
}

#first-line {
    position:absolute;
    top: 175px;
    width: 900px;
    height: 1px;
    border-width:0;
    background-color:#000000;
}

#about-h3 {
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    width: 950px;
    position: absolute;
    top: 195px;
    text-align: center;
}

#second-line {
    position:absolute;
    top: 250px;
    width: 900px;
    height: 1px;
    border-width:0;
    background-color:#000000;
}

#about-h4 {
    font-size: 18px;
    font-weight: 200;
    position:absolute;
    left: 98px;
    top: 285px;
    text-align: left;
}

#about-content ul {
    font-size: 18px;
    width: 350px;
    font-weight: 200;
    position: absolute;
    top: 325px;
    left: 150px;
    text-align: left;
    line-height: 32px;
}

#about-img {
    width: 420px;
    height: 325px;
    position: absolute;
    top: 285px;
    left: 570px;
}

/* Here is all the content associated with the "Help" page/button */

#help-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-family: 'Inter';
}

#help-h1 {
  font-size: 35px;
  font-weight: 900;
  position: absolute;
  top: 20px;
}

#help-p {
  font-weight: 200;
  color: #000000;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 100px;
  width: 900px;
}

#help-h2 {
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  top: 215px;
}

#help-request-form {
  position: absolute;
  top: 275px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#help-first-row {
  flex-direction: row;
  margin-bottom: 20px;;
}

#help-form-name {
  padding: 8px;
  width: 250px;
  border: 2px solid #9747FF;
  border-radius: 5px;
  font-family: 'Inter';
  color: black;
}

#help-form-email {
  padding: 8px;
  width: 250px;
  border: 2px solid #9747FF;
  border-radius: 5px;
  font-family: 'Inter';
  color: black;
  margin-left: 20px;
}

#help-form-description {
  padding: 8px;
  width: 542px;
  height: 100px;
  border: 2px solid #9747FF;
  border-radius: 5px;
  font-family: 'Inter';
  color: black;
  resize: none;
  margin-bottom: 20px;
}

#help-submit-button {
  top: 700px;
  width: 150px;
  height: 40px;
  color:#FFFFFF;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 16px;
  background-color: #9747FF;
  border: none;
  border-radius: 15px;
}